<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        {{ message }}
        <br>
        {{ messageEsp }}
    </div>

    <div id="app-2">
        <span v-bind:title="message">
            Hover your mouse over me for a few seconds
            to see my dynamically bound title!
        </span>
    </div>

    <div id="app-3">
        <span v-if="seen">Now you see me</span>
    </div>

    <div id="app-4">
        <ol>
            <li v-for="todo in todos">
                {{ todo.text }}
            </li>
        </ol>
    </div>

    <div id="app-5">
        <p>{{ message }}</p>
        <button v-on:click="reverseMessage">Reverse Message</button>
    </div>

    <div id="mainApp">
        <mitag></mitag>

        {{ rawHtml }}
        <p>Using v-html directive: <span v-html="rawHtml"></span></p>

        <p>If try: <span v-if="seeTag">It is true</span><span v-else="seeTag">It is false</span></p>

        <br>

        <a v-for="enlace in enlaces" v-bind:href="enlace.url"> {{ enlace.textUrl }} </a>
    </div>

    

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>  
    <script src="./main.js"></script>
</body>
</html>