<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Actividad 2 VUE</title>
</head>
<body>
    <!-- TASKS -->
    <h1>TASKS</h1>

    <div id="e2">
        <ul>
            <li v-for="task in tasks">
                <h3>{{ task.order }}</h3>
                <p>Priority: {{ task.priority }}</p>
                <p>Date: {{ task.date }}</p>
                <p>Status: 
                    <span v-if="task.status">Completed</span>
                    <span v-else>Not Completed</span>
                </p>
            </li>
        </ul>

        <h2>New Task</h2>

        <input type="text" name="" v-model="textNewTask" placeholder="New Task" v-on:keyup.enter="newTask">
        <button value="Create" v-on:click="newTask">Create</button>

        <p>Tasks number: {{ tasks.length }}</p>
        <p>Tasks to do: {{ taskToDo() }}</p>

        <h2>Show Tasks</h2>
        <input type="checkbox" id="completed" value="Completed" v-model="checkedStatus">
        <label for="jack">Completed Tasks</label>
        <br>
        <input type="checkbox" id="incompleted" value="Incompleted" v-model="checkedStatus"> 
        <label for="john">Incompleted Tasks</label>
        
        <ul>
            <li v-for="auxTask in checkedTask">
                <h3>{{ auxTask.order }}</h3>
                <p>Priority: {{ auxTask.priority }}</p>
                <p>Date: {{ auxTask.date }}</p>
                <p>Status: 
                    <span v-if="auxTask.status">Completed</span>
                    <span v-else>Not Completed</span>
                </p>
            </li>
        </ul>

        <!-- <ul>
            <li v-for="task in tasks">
                <h3>{{ task.order }}</h3>
                <p>Priority: {{ task.priority }}</p>
                <p>Date: {{ task.date }}</p>
                <p>Status: 
                    <span v-if="task.status">Completed</span>
                    <span v-else>Not Completed</span>
                </p>
            </li>
        </ul> -->
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>  
    <script src="./main.js"></script>
</body>
</html>